@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

html, body {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 20px;
    overflow: hidden;
    
    scroll-padding-bottom: 70px;
}

#main-page {
    height: 100vh;
}

.container {
    display: flex;
    height: 100%;
    width: 100%;
}

.col-flex {
    flex-direction: column;
}

.row-flex {
    flex-direction: row;
}

.left-side {
    width: fit-content;
    max-width: 300px;
    background-color: #1E1D57;
    color: #edecda;
}

#banner, #section-head, #content, #sidebar {
    padding: 30px;
}

#banner > p, #section-head-title > p {
    margin: 0;
    font-weight: 700;
    font-size: 24px;
}

#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    height: 100vh;
    padding-left: 45px;
    padding-bottom: 10px;
    padding-top:10px;
}

#bullets {
    align-self: center;
}

#bullets ul {
    margin-top: 0px;
    margin-bottom: 0px;
}

#bullets li::before {
    content: ""; 
}
#bullets li {
  list-style-type: none;
    margin-bottom: 0.5em;
}

li {
    padding-left: -20px;
    margin-left: -20px;
    
}

#options {
    padding-bottom: 30px;
}

#content {
    height: 110%;
    padding-left: 45px;
    width: 100%;
    overflow: auto;
    padding-top: 0px;
    scroll-behavior: smooth;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#content::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#content {
    -ms-overflow-style: none; 
    scrollbar-width: none;  
} 


#section-head {
    display: flex;
    flex-direction: row;
    padding-left: 45px;
    color: #1E1D57;
}

#section-head--hr {
    width: 50%;
    margin-left: 0;
    height: 3px;
    background-color: #1E1D57;
    border: none;
}

#section-head-title {
    flex-grow: 7
}

button {
    padding: 15px 32px;
}

#focused-button {
    font-size: 12px;
    height: 8px;
    line-height: 0px;
    box-sizing: content-box;
    margin-right: 50px;
}

.hidden {
    display: none;
}

.inline {
    display: inherit;
}


#banner--hr {
    color: white;
    height: 3px;
    background-color: white;
    border: none;
}

.invis {
    color: white;
}

.shrink {
    font-size: 1px !important;
}

.left-white {
    color: #edecda;
    text-decoration: none;
}

a {
/*     text-decoration: none; */
    color: black;
}

.last-page {
    font-size: 14px;
}

.text {
    font-size: 14px;
    line-height: 1.5;
}

.text ul {
    padding-left: 4em;
    
}
/* TOC */
#toc {
    width: 20%;
    margin-right: 25px;
/*     min-width: 20%; */
/*     background-color: lightgrey; */
}

.page-toc {
    align-items: center;
}

/* Index */
#index--qa-ul {
    margin-top:100px;
}
#index--qa-ul > *{
    padding-top: 0;
    text-align: left;
    font-size: 14px;
}


/* Data tab */
table tr td{
    font-size: 10px;
}

.column-header-name {
    font-size: 14px;
}

 
#data--buttons,
#data-transformation--buttons
{
    display: flex;
    justify-content: space-around;
    width: 65%
}

#data--buttons > button,
#data-transformation--buttons > button 
{
    margin-top: 2%;
    margin-bottom: 2%;
    width: 100%;
    float: left;
    border: 1px solid black;
}
#data--buttons > button.active,
#data-transformation--buttons > button.active 
{
    background-color: lightgrey;
}

/* Data-Exploration tab */

#data-exploration--skills-mapping {
    margin-top: 40px;
    margin-bottom: 125px;
}

#data-exploration--skills-container {
    height: 500px;
    width: 100%;
    margin-bottom: 200px;
}

#data-exploration--skills-dist-table {
    margin-top: 100px;
}

#data-exploration--skills-subplots {
    width: 100%;
}

/* Metrics */

.text.pad-top {
    padding-top: 1em;
}

/* Neighbor */


input[type="number"] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}

#neighbor--ldelta {
    padding-top: 1em;
/*     justify-content: space-evenly; */
}
#neighbor--ldelta > div{
    padding-right: 1em;
}

.loading_wrapper > div {
    visibility: visible !important;
}